__pycache__/
*.pyc
paper/*.aux
paper/*.log
paper/*.out
paper/*.bbl
paper/*.blg
paper/*.fls
paper/*.fdb_latexmk
paper/*.toc
results/rerun/
results/results.tar.gz
letter/*.aux
letter/*.log
letter/*.out
letter/*.bbl
letter/*.blg
letter/*.fls
letter/*.fdb_latexmk
letter/*.spl
